CompileFlags:
  Add:
    [
      "-std=c++20",
      "-Wno-c++98-compat",
      "-Wno-c++98-compat-pedantic",
      "-Wno-padded",
      "-Wno-covered-switch-default",
      "-ferror-limit=0",
    ]
  CompilationDatabase: build

Index:
  Background: Build
